* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.content {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
}
.profile {
    position: fixed;
    right:0; 
    background: rgba(126, 118, 124, 0.5);
    color: #f1f1f1;
    height: 100%;
    padding: 10px;
}
#pf{
	margin: 35px 0px;
}
#ot{
	background-color: rgba(0, 0, 0, 0.5);
    color: #b982e8;
    padding: 10px 20px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: fixed;
    bottom: 50px;
    right: 20px;
}
#make{
	font-size: 30px;
}
.bt{
	position: absolute;
	left: 400px;
	top: 300px;
}
.bt button{
	margin: 40px;    
	background-color: rgba(70, 56, 82, 0.6);
    border: none;
    border-radius: 100%;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    padding: 25px
}
.bt button:hover{
	padding: 45px;
}
#add{
	position: absolute;
	top: 550px;
	left: 600px;
	background-color: rgba(88, 71, 52, 0.5);
    border: none;
    border-radius: 100%;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    padding: 50px
}
#add:hover{
	padding: 65px;
}
.dw {
    position: relative;
    display: inline-block;
}

.dwc {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dw:hover .dwc {
    display: block;
}
audio
{
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
transition:all 0.5s linear;
-moz-box-shadow: 2px 2px 4px 0px #006773;
-webkit-box-shadow:  2px 2px 4px 0px #006773;
box-shadow: 2px 2px 4px 0px #006773;
-moz-border-radius:7px 7px 7px 7px ;
-webkit-border-radius:7px 7px 7px 7px ;
border-radius:7px 7px 7px 7px ;
}
audio:hover, audio:focus, audio:active
{
-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
transform: scale(1.05);
}

#mySidenav a {
    position: absolute;
    left: -85px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
    left: 0;
}

#about {
    top: 360px;
    background-color: rgba(33, 150, 243, 0.2);
}

#help {
    top: 413px;
    background-color: rgba(76, 175, 80, 0.2);
}

#donate {
    top: 466px;
    background-color: rgba(85, 85, 85, 0.2);
}

#contact {
    top: 519px;
    background-color: rgba(244, 67, 54, 0.2);
}